.project {
  text-align: center;
  margin-top: 50px;
}

.work {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 0 1rem; 
}

.cardpro {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1.5rem;
  border-radius: 1rem;
  color: #f0f0f0;
  backdrop-filter:blur(10px);
  width: 100%;
  max-width: 280px;   
  min-height: 320px;  
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease, opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0.3px solid #7a7f81;
  opacity: 0.8;
}

.card:hover {
  transform: translateY(-5px);
}

.card a {
  text-decoration: none;
  font-weight: bold;
}

.cardpro:hover{
  opacity:1;
  scale:1.2;
  filter:brightness(1);
}
.cardpro:hover+*{
    filter:brightness(0.6);
    transform:  perspective(1000px) translateZ(50px) rotateY(30deg);
}
.cardpro:has(+:hover){
    filter:brightness(0.6);
    transform:  perspective(1000px) translateZ(50px) rotateY(-30deg);
}

h1 {
  font-size: clamp(2rem, 5vw, 3rem);  /* responsive */
  color: #7a7f81;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.description{
  color: var(--glowr);
  font-size: 1.3rem;
}

.cardpro a {
  margin-top: auto;   /* 👈 pushes to bottom */
  margin-bottom: 10px;
  color: #a1a6aa;
}

.flash-icon {
  width: 30px;
  margin: 0 5px;
}

@media (max-width: 768px) {
  .work {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  /* ✅ already correct */
  align-items: center;
  gap: 2rem;
  width: 80%;
}

  .cardpro {
    width: 90%;
    max-width: 350px; 
 } 

  h1 {
    font-size: 2rem;
  }
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .project{
    width: 100%;
  }
}

.cardpro:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.bolt-icon {
  display:inline-block;
  margin-left: 10px;
  animation: flash 1.5s infinite;
}


.heading {
  display: flex !important;
  align-items: center !important;
  gap: 10px;
  padding: 20px;
  margin-top: 20px;
  line-height: 1;
}

.heading span {
  display: inline-block;
}

.title {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size:3rem;
  color: var(--text);

}

.bolt-icon {
  font-size: 0.8em;   
  transform: translateY(-2px); 
  animation: flash 1.5s infinite;
}

@keyframes flash {
  0%, 100% { opacity: 1;
 }
  50% { opacity: 0.5; }
}
.cardpro h2{
  margin-bottom:10px;
}