@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.intro-wrapper {
  position: relative;
  background: radial-gradient(circle at center, #1b1f3b, #0f1123);
  display: flex;
  font-family: 'Poppins', sans-serif;
  z-index:10;
  height:100vh;
  width:100%;
  justify-content: center;
  align-items: center;
}
.intro-text {
  max-width: 100%;
  position: relative;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;   /* center text */
  margin: 0 auto;     
  transform: translateX(35%) translateY(20%);
  

}
.intro-text h1 {
  font-size: 5rem;
  color: rgb(204, 226, 230);
  /*text-shadow: 0 0 10px aquamarine;*/
  opacity: 1;
  align-items: center;
  background: linear-gradient(90deg, #6f0325, #b22b56, #a07986);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: glow 3s ease infinite;
}

.intro-text h2 {
  font-size: 1.8rem;
  color: #7a7f81;
  margin-top: 0.5rem;
}
.intro-text p {
  margin-top: 4rem;
  font-size: 1.5rem;
  color: #5b5e5f;
}

.phero {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius:20px;
  width:60%;
  top:3%;
}


p {
  font-size: 1.2rem;
  margin: 8px 0;
  color:rgb(41, 159, 120)
}


/* Simple float animation */
@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.spaceship {
  width: 60px;
  height: auto;
  display: inline-block;
  position: fixed;
  z-index: 100;
}
.workprojects {
  background-color:#00b894;
  border-radius:20px;
  width:fit-content;
  border:3px solid #55efc4;
  position:relative;
  left:-35%;
  bottom:-10%;
}

.intro-text h1 span.char {
  color: aquamarine !important;
}

@media screen and (max-width: 768px) {
  .intro-text h1 {
    font-size: 3.5rem;
  }
  hr{
    margin-bottom: 0rem;
  }
  .intro-text p{
    margin-top: 2rem;
    padding-top: 0%;
  }
  .page1{
    height:100%;
  }
  .phero p{
    font-size:1.2rem;
  }
  .phero{
    height:fit-content;
    z-index:100;
    margin-bottom: 95px;

  }
}