@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.intro-wrapper {
  position: relative;
  background: radial-gradient(circle at center, #1b1f3b, #0f1123);
  display: flex;
  font-family: 'Poppins', sans-serif;
  z-index:10;
  min-height:100vh;
  width:100%;
  max-height: 200vh;
  justify-content: center;
  align-items: center;
}
.intro-text {
  min-width: 100%;
  position: relative;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;   /* center text */
  margin: 0 auto;     
  padding: 40px 20px;

}
.intro-text h1 {
  font-size: 5rem;
  /*text-shadow: 0 0 10px aquamarine;*/
  opacity: 1;
  align-items: center;
  background: var(--grad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: glow 3s ease infinite;
  text-align: center;
  gap:1.5rem;
}

.intro-text h2 {
  font-size: 1.8rem;
  color: var(--text);
  margin-top: 0.5rem;
}
.intro-text p {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: var(--text);
}

.phero {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius:20px;
  width:80%;
  top:3%;
  overflow:visible;
}





/* Simple float animation */
@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.spaceship {
  width: 60px;
  height: auto;
  display: inline-block;
  position: fixed;
  z-index: 100;
}
.workprojects {
  background-color:#00b894;
  border-radius:20px;
  width:fit-content;
  border:3px solid #55efc4;
  position:relative;
  left:-35%;
  bottom:-10%;
}

.intro-text h1 span.char {
  color: aquamarine !important;
}

@media screen and (max-width: 768px) {
  .intro-text{
    margin-top:90px;
  }
  .intro-text h1 {
    font-size: 3.5rem;
  }
  .intro-text p{
    margin-top: 1rem;
    padding-top: 0%;
  }
  .phero p{
    font-size:1.2rem;
  }
  .phero{
    height:fit-content;
    z-index:100;
    margin-bottom: 95px;

  }
}

hr{
  background-color:var(--text);
  height:3px;
  border:none;

}
