@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');


.item:hover {
  box-shadow: 0 0 25px #ff4c4c;
  transform: scale(1.1)
    rotateY(calc((360deg / var(--quantity)) * (var(--position) - 1)))
    translateZ(var(--radius))
    translate(-50%, -50%);
}


.skills .card {
  width: 80vw;
  height: 80vw;
  max-width: 400px;
  max-height: 400px;
  position: relative;
  transform-style: preserve-3d;
  animation: spin 20s linear infinite;
  --radius: min(35vw, 1800px);
}

.skills .item:hover{
  border: 2px solid #ff4c4c;
  scale:1.1;
}
.skills .item {
     width: clamp(60px, 15vw, 100px);
  height: clamp(60px, 15vw, 100px);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(3px);
  border: 2px solid aquamarine;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:
    rotateY(calc((360deg / var(--quantity)) * (var(--position) - 1)))
    translateZ(var(--radius))
    translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(198, 53, 53, 0.2);
  text-align: center;
  font-size: 0.9rem;
}

.item img {
  width: 80%;
  height: auto;
  object-fit: contain;
  padding: 8px;
  box-sizing: border-box;
    
}
.skills h1 {
  font-family: 'Ica Rubrik Black', sans-serif;
  font-size: clamp(2rem, 5vw, 4rem);
  margin-bottom: 5vh;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  display:flex;
  top:90%;
}
.item {
  border: 2px solid red;
}
.card {
  animation: spin 20s linear infinite;
}

@keyframes spin {
  from {
    transform: perspective(1000px) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateY(360deg);
  }
}
