.header{
  display:flex;
  flex-direction: column;
  align-items: center;
  position:fixed;
  width:100%;
  z-index: 1000;
  background-color: rgb(0,0,0,0.8);
  height:10%;
  justify-content: space-between;
  margin:0 15px 0 15px;
}

.content{
  display:flex;
  align-items: center;
   padding: 15px 40px;
  justify-content: space-between;
  margin: 0 100px 0 100px;
}

ul {
  display: flex;
  list-style: none;
  gap: 40px;
  font-size: 20px;
  width:fit-content;
  margin-right: 25px;
}

li a{
    color: azure;
}

