.sidebar {
    display: flex;
    flex-direction: column;
    align-items:end;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
    width:fit-content
}
.sidebar-links{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
}
.sidebar a {
    color: #7a7f81;
    text-decoration: none;
    margin: 10px ;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.open{
    opacity:1;
    pointer-events: auto;
    transition: opacity 0.3s ease;
}

.closed {
    opacity:0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.sidebar-links li {
    list-style: none;
    position: relative;
}

.sidebar-links li a:hover {
    background-color: #418e9f;
    padding:8px;
    border-radius: 50%;
    margin:1px;
}

.sidebar-links li a {
    display: inline-flex;   /* 👈 fix */
    align-items: center;
    justify-content: center;
}