* {
  margin: 0;
  padding: 0;
  box-sizing:content-box;
  background-color:transparent;
  color:white;
}
body{
  margin-top:90px;

}
.container{
  justify-content: center;
  align-items: center;
  position:relative;
}
.page1, .page2 {
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical centering */
  align-items: center;     /* horizontal centering */
  height: 100vh;
  text-align: center;
  z-index:1;
  position:relative;
  
}
.page2{
  height: 120vh !important;
}


.spaceship {
  width: 100px;
  background-color: transparent;
  height:auto;
  z-index:1000;
  right: -28%;
top: 65vh;
transform:translate(50%,50%);
bottom: auto;
}

svg{
  z-index:1000;
}

#space-path {
  stroke-width: 2;
  fill: none;
}

.spaceship-img {
  width: 100%;
  height: auto;
}


.spaceship {
  position: fixed;   /* ✅ stays on screen and works with GSAP path */
  top: 0;
  left: 0;
  width: 120px;
  z-index: 1000;
  pointer-events: none;
}

.spaceship-img {
  width: 100%;
  display: block;
}

.page2 h1{
  width:fit-content;
  top:10px;
}

.page3{
  width:100%;
  height:100vh;
  position:relative;

}

Hero{
  margin-top: 20px;
}
.svg-container {
  position: fixed;           /* sits over whole screen */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;      /* don’t block scrolling/clicks */
  z-index: 500;
}

.page4{
  margin-left:60px;
}
.page5{
  margin-top:70px;
}