* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  background-color:transparent;
  color:white;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position:relative;
}
.page1, .page2{
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical centering */
  text-align: center;
  z-index:1;
  width: 100% !important;

}
svg{
  z-index:1000;
}

.page1{
  min-height:100vh !important;
}
#space-path {
  stroke-width: 2;
  fill: none;
}

.page3 {
  overflow-x: hidden;
}

.spaceship-img {
  width: 100%;
  height: auto;
}


.spaceship {
  position: absolute;   /*stays on screen and works with GSAP path */
  top: 100px;
  z-index: 0;
  pointer-events: none;
}

.page2 h1{
  width:fit-content;
  top:10px;
}

.page3{
  width:100%;
  position:relative;
  min-height: 50vh !important;
}

Hero{
  margin-top: 20px;
}
.svg-container {
  position: fixed;           /* sits over whole screen */
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  pointer-events: none;      /* don’t block scrolling/clicks */
  z-index: 0;
}


.page4{
  width:100%;
  position: relative;
}


.page1, .page2, .page3, .page4 {
  min-height: 100vh;
  width: 100%;
  align-items: center;
}

.star,
.shooting-star,
.sidebar,
.card,
.stat-card {
  will-change: transform;
}